{% extends 'index.html' %}
{% load static %}
{% block body %}

<form action="{% url 'search' %}" method="POST" class="mt-5 text-center">
  {% csrf_token %}
    <input type="search" name="searched">
    <button class="btn btn-outline-secondary" type="submit">Ara</button>
</form>

<div class="container text-center mt-5">
  <div class="row">
<div class="col-3 m-auto">
    <div class="card" style="width: 18rem;">
        <img src="{{products.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{products.title}}</h5>
          <p class="card-text">{{products.description}}</p>
        </div>
      </div>
  </div>
  </div>
</div>

{% endblock body %}
